/* Navbar selectors */

navbar {
	display: flex;
	justify-content: end;
}

.nav-links {
	margin: 10px 10px;
}


/* Search-area selectors */

#searching-area {
	border-style: none;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	text-align: center;

	/* Center vertically */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#search-bar {
	border-style: none;
	margin: 20px auto;
}

#searching-area button {
	width: auto;
	font-size: 15px;
	padding: 3px 5px;
	border: none;
}

#searching-area input {
	display: block;
	margin: auto;
	width: 400px;
}


/* Footer selectors */

footer {
	border-style: none;
	background-color: #f2f2f2;

	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	margin: 0 -0.5em;
	top: 100%;
	transform: translateY(-100%);
	
}

footer div {
	/* border-bottom: 2px solid gray; */
	padding: 10px 15px;
}

#top-row {
	border-style: none;
	padding-left: 20px;
}

#bottom-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#left-buttons {
	border-style: solid;
	padding: 0;
}

#left-buttons a {
	padding: 0 20px;
}

#right-buttons {
	border-style: solid;
	padding: 0;
}

#right-buttons a {
	padding: 0 20px;
}

@media (max-width: 1100px) {
	#bottom-row {
		justify-content: space-evenly;
	}
}
